<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order</title>
</head>
<body>
    <form action="" method="POST">
        <p>
            <label>Type order:</label>
            <select name="type">
                <option> sale </option>
                <option> purchase </option>
            </select>
        </p>
        <p><label>Price: </label><input type="number" name="price" required /></p>
        <p><label>Quantity: </label><input type="number" name="quantity" required /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>